*{
    font-family:Orbitron;
    padding:0;
    
}

img{
    width:100%;
    max-width:200px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    margin:10px;
    border-radius: 20px;
    
}
.photo img:hover {
            zoom: 1.1;
            }

body{
    background-color: #36708a;
    padding:15px;
}
.header {
    border-style: solid;
    border-width: 3px;
    border-radius: 10px;
    padding: 10px;
    max-width:26em;
}
 .project{
    text-align: center;    
    border-radius: 10px;
    background-color: rgb(162, 190, 204);
    box-shadow: 8px 8px 0px, rgb(0, 0, 0) 0px 0px 0px 3px;
    max-width:350px; 
    padding-bottom: 15px;
}
.name{
    background-color:rgb(255, 102, 0);
    padding:10px;
    text-align: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom: 3px solid black;
}
a {
      text-decoration: none;
      color: inherit;
 }
.directory {
  display: flex;
  flex-direction: row;
  justify-content: space-between; 
  background-color: rgb(255, 102, 0);
  border-radius: 10px 10px 0px 0px;
  border-bottom: 3px solid black;
  
}

.directory div {
    padding-left:10px;
    padding-right:10px;
   
}
.mycontainer{
    text-align: center;    
    border-radius: 10px;
    background-color: rgb(162, 190, 204);
    box-shadow: 8px 8px 0px, rgb(0, 0, 0) 0px 0px 0px 3px;
    max-width:40em;
    
}
.mycontainer img{
    max-width: 90%;
    margin-top: 15px;
}
.one, .two{
    border-right: 3px solid;
    
}

h3{
    margin-top: 10px;
    margin-bottom:10px;
}


.biocontainer{
    text-align: center;    
    border-radius: 10px;
    background-color: rgb(162, 190, 204);
    box-shadow: 8px 8px 0px, rgb(0, 0, 0) 0px 0px 0px 3px;
    max-width: 40em;
}
.biocontainer img{
    max-width: 90%;
    margin-top: 15px;
   
}
.about{
  background-color: rgb(255, 102, 0);
  border-radius: 10px 10px 0px 0px;
  border-bottom: 3px solid black;

  
}
.about h1{
    margin-bottom: 10px;
    padding: 0px;
    margin-top: 10px;
}
.bio{
    text-align:left;
    padding:20px;
}

